service: burger-products

provider:
  name: aws
  runtime: python3.10  # Switched to 3.10 for safety, 3.13 not standard in AWS yet
  region: us-east-1
  stage: ${opt:stage, 'dev'} 
  memorySize: 256
  timeout: 20
  iam:
    role: arn:aws:iam::${env:AWS_ACCOUNT_ID}:role/LabRole
  environment:
    TOKENS_TABLE_USERS: ${env:TABLE_TOKENS_USUARIOS}
    PRODUCTS_TABLE: ${env:TABLE_PRODUCTOS}
    VALIDAR_TOKEN_LAMBDA_NAME: burger-auth-${sls:stage}-auth
  # layers:
  #   - ${cf:millas-dependencias-dev.PythonDependenciesLayerExport}  
  httpApi:
    cors: true

functions:
  CreateProduct:
    handler: product_create.lambda_handler
    events:
      - httpApi:
          method: POST
          path: /productos/create
    
  UpdateProduct: 
    handler: product_update.lambda_handler
    events:
      - httpApi:
          method: PUT
          path: /productos/update

  DeleteProduct:
    handler: product_delete.lambda_handler
    events:
      - httpApi:
          method: DELETE
          path: /productos/delete

  ProductID:
    handler: product_id.lambda_handler
    events:
      - httpApi:
          method: POST 
          path: /productos/id

  ListProduct:
    handler: product_list.lambda_handler
    events:
      - httpApi:
          method: POST
          path: /productos/list
